<ion-header>
  <ion-toolbar>
    <ion-title>
      Autonomo 04
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-slides paginationClickable=true initialSlide=0 loop=true autoplay=1000 speed=2000 #mySlider>

        <ion-slide class="slide_image">
          <img src="assets/autono041.jpg" alt="">
        </ion-slide>
    
        <ion-slide class="slide_image">
          <img src="assets/autono042.png" alt="">
        </ion-slide>
    
        <ion-slide class="slide_image">
          <img src="assets/autono043.png" alt="">
        </ion-slide>
    
      </ion-slides>
    
    
      <p>Este aqui é o Autonomo de número 04</p>
      <p>O telefone do Autonomo 04 é </p>
      <p>O endereço do Autonomo 04 é </p>
      <p>O CEP do Autonomo 04 é </p>
      <p>Cidade do Autonomo 04 é </p>
      <p>Email do Autonomo 04 é</p>
      <p>Facebook do Autonomo 04 é</p>
    
    </ion-content>