<ion-header>
    <ion-toolbar>
      <ion-title>
        Ester - Costura
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-slides paginationClickable=true initialSlide=0 loop=true autoplay=1000 speed=2000 #mySlider>
  
      <ion-slide class="slide_image">
        <img src="assets/cost1.jpg" alt="">
      </ion-slide>
  
      <ion-slide class="slide_image">
        <img src="assets/cost2.jpg" alt="">
      </ion-slide>
  
      <ion-slide class="slide_image">
        <img src="assets/cost3.jpg" alt="">
      </ion-slide>
  
    </ion-slides>
  
  <br>
    Ester Pereira de Camargo<br><br>
    Telefone: (14) 99714-6872<br><br>
    Endereço: R Lopes Trovão Nº 1857<br><br>
    CEP: 19638-842<br><br>
    Cidade: Ourinhos<br><br>
    Email: est_pereiracamargo@hotmail.com<br><br>
    https://www.facebook.com/ester.camargo
  <br>
  <br>
  <br>
  <div>
    <ion-button expand="full">
      <ion-icon slot="start" name="pin"></ion-icon>
      Localização
    </ion-button>
  </div>
  <div>
    <ion-button expand="full" color="success">
      Avaliar
      <ion-icon slot="end" name="star-half"></ion-icon>
    </ion-button>
  </div>
</ion-content>