<ion-header>
  <ion-toolbar>
    <ion-title>
      Autônomos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pedreiro.jpg">
      </ion-avatar>
      <a href="/auto01" color="primary">Antônio - Obras </a>
      </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/faxineira.jpg">
      </ion-avatar>
      <a href="/auto02" color="primary">Cleusa - Serviços Domésticos</a>
      </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/computador.png">
      </ion-avatar>
        <a href="/auto03" color="primary">Douglas - Informática</a>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/costureira.png">
      </ion-avatar>
      <a href="/auto04" color="primary">Ester - Costura</a>
    </ion-item>
    <ion-item>

      <ion-avatar slot="start">
        <img src="assets/eventos.png">
      </ion-avatar>
      <a href="/auto05" color="primary">Giovane - Eventos</a>
    </ion-item>
  </ion-list>

</ion-content>
