<ion-header>
  <ion-toolbar>
    <ion-title>
      Antônio - Obras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-slides paginationClickable=true initialSlide=0 loop=true autoplay=1000 speed=2000 #mySlider>

    <ion-slide class="slide_image">
      <img src="assets/ped1.jpg" alt="">
    </ion-slide>

    <ion-slide class="slide_image">
      <img src="assets/ped2.jpg" alt="">
    </ion-slide>

    <ion-slide class="slide_image">
      <img src="assets/ped3.jpg" alt="">
    </ion-slide>

  </ion-slides>

<br>
  Antônio Carlos<br><br>
  Telefone: (14) 99819-0890<br><br>
  Endereço: R Alcides Lopes Nº 248<br><br>
  CEP: 199021-780<br><br>
  Cidade: Ourinhos<br><br>
  Email: antonio_car@hotmail.com<br><br>
  https://www.facebook.com/antonio.carlos

</ion-content>