<ion-header>
    <ion-toolbar>
      <ion-title>
        Douglas - Informática
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <ion-slides paginationClickable=true initialSlide=0 loop=true autoplay=1000 speed=2000 #mySlider>
  
      <ion-slide class="slide_image">
        <img src="assets/pc1.jpg" alt="">
      </ion-slide>
  
      <ion-slide class="slide_image">
        <img src="assets/pc2.jpg" alt="">
      </ion-slide>
  
      <ion-slide class="slide_image">
        <img src="assets/pc3.jpg" alt="">
      </ion-slide>
  
    </ion-slides>
  
  <br>
    Douglas da Costa<br><br>
    Telefone: (18) 98130-2015<br><br>
    Endereço: R 12 de Setembro Nº 564<br><br>
    CEP: 19287-743<br><br>
    Cidade: Assis<br><br>
    Email: doug_costainformatica@hotmail.com<br><br>
    https://www.facebook.com/douglas.costa
  
  </ion-content>