<ion-header>
  <ion-toolbar>
    <ion-title>
      Autonomous 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/autonomos.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Autonomous</ion-card-subtitle>
        <ion-card-title>Bem Vindo ao App Autonomous</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>App voltado para Trabalhadores Autonomos de Ourinhos e Região.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Menus</ion-label>
      </ion-list-header>
      <ion-item>
      <ion-icon slot="start" color="medium" name="pizza"></ion-icon>
        <a href="/autonomos"><ion-label>Alimentação</ion-label></a>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="laptop"></ion-icon>
        <a href="/autonomos"><ion-label>TI</ion-label></a>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="medkit"></ion-icon>
        <a href="/autonomos"><ion-label>Saúde</ion-label></a>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="construct"></ion-icon>
        <a href="/autonomos"><ion-label>Serviços</ion-label></a>
      </ion-item>
    </ion-list>
</ion-content>